  <!-- Main Content -->
  
  <div class="container mx-auto relative z-50 text-pink-950">
    <div class="text-center px-10 py-60 w-full md:w-12/42 mx-auto">
      <h1 class="text-7xl font-bold uppercase mb-2">
        Getting married but you can't dance?
      </h1>
      <div class="text-2xl">
        <p>
        Are you planning your wedding, with most of the details already set in stone? 
      </p>
      <ul class="list-disc">
        <li>Is the white dress hanging in the closest, the suit tailored and the cake ordered?</li>
        <li>Is everything ready except your First Dance?</li>
        <li>It won't be long now before you hear these words: <br>
          "And now ladies and gentlemen a big hand please as we welcome our Bride and Groom onto the dance floor for their first dance together as husband and wife!"<br>
          Then all eyes will be on you as you slowly walk together on that dance floor.
        </li>
      </ul>
      <p>What happens next will depend on the decision you make today.
        <br>
        It can either feel like a very long and embarrassing time where the whole magic of the day seems to fall apart and there is nothing you can do about it OR it can be a magical moment that you will cherish for the rest of your days.
        <br>
        Elegance is expected at all weddings, from the decorations to the walk down the aisle to the touching vows to the cutting of the cake and beyond. So, the last thing you want is to trip and stumble through your first dance together. Even if you try to play it off as comical, the underlining worry that something beautiful has been tarnished is unavoidable. Whether it is the bride, the groom, or both of you that struggle with dancing, you will have to do it and all of your guests will be watching…
        <br>
        “We didn't prepare our First Dance, we were too busy...I started worrying about it a couple of weeks before the Wedding but I thought it was too late to do anything about it then. On the day I was dreading it and by the time we stepped on the dance floor I was a nervous wreck! We barely shuffled our way through it. Never again!!”
        <br>
        We’ve seen our fair share of cringe worthy first dances and wouldn’t wish it on our worst enemy. It doesn’t only seem to cheapen what came before it; it becomes comedic when it was meant to be romantic. It would be a shame for your wedding day to fall apart at the very end.
        <br>
        Many times the bride has dreamt of this day since she was just a little girl. And we guarantee that stumbling through her first dance never once made an appearance in her dream; it may have made an unwelcome appearance in a nightmare though. The last thing we want to see happen is your dream wedding turn into a nightmare.
        <br>
        If you can't yet dance, there is still time to learn!
        <br>
        After all, even being witness to one train wreck is one too many. We decided to combine our extensive knowledge in dance to put together an easy to follow step by step tutorial for both bride and groom alike. You may be cautiously optimistic about this opportunity.
        </p>
      </div>
    </div>
  </div>

