  <!-- Header -->
  <header id="header" class="bg-pink-50">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
      <a class="text-3xl text-pink-950 font-bold uppercase mr-4" routerLink="/">DANCE OF LOVE</a>

      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1 text-pink-700">
          <!-- Navigation Links -->
          <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks">
            <a class="px-2" href="#" 
            (click)="openModal($event)">
            Login / Register</a>
          </li>
          <ng-template #authLinks>
          <li>
            <a class="px-2" routerLink="/manage" 
            routerLinkActive="text-pink-950"
             [routerLinkActiveOptions]="{exact:true}"
             [queryParams]="{sort: '1'}">Manage</a>
          </li>
          <li>
            <a class="px-2" routerLink="/upload" routerLinkActive="text-pink-950" [routerLinkActiveOptions]="{exact:true}">Upload</a>
          </li>
          <li> <a class="px-2" (click)="auth.logout($event)">Log Out</a>
          </li>
        </ng-template>
          <li routerLinkActive="text-pink-950">
            <a class="px-2" routerLink="/about" routerLinkActive="text-pink-950">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
